{% extends "base.html" %}

{% block title %} Persea Technologies {% endblock %}

{% block headcss %}
  <style>
    .errorlist{
      color:#ff0000;
    }
  </style>
{% endblock %}


{% block content %}
<h4>Registered Ip Cameras</h1>
<ul>
{% for camera in cameras %}
    <li>
      {% if camera.status == 0 %} A {% endif %} 
      {% if camera.status == 1 %} S {% endif %}
      {% if camera.status == 2 %} D {% endif %}
    	{{ camera.fps }} 
      <a href="/cameras/faces?camera_id={{camera.id}}">{{ camera.name }}</a>
     	initalised at {{ camera.init_time }}
    </li>
{% endfor %}
</ul>

<a href="/cameras/activate" data-target="feedback-modal" class="waves-effect waves-light btn modal-trigger">Activate all</a>
<a href="/cameras/schedule_for_deactivation" data-target="feedback-modal" class="waves-effect waves-light btn modal-trigger">Schedule for deactivation</a>
<a href="/cameras/kill" data-target="feedback-modal" class="waves-effect waves-light btn modal-trigger">Kill all</a>
<a href="/cameras/clean" data-target="feedback-modal" class="waves-effect waves-light btn modal-trigger">Clean DB</a>
<br><br>


<h4>Register New Ip Camera</h1>

<form action="{% url 'cameras:add' %}" method="post">
{% csrf_token %}
	Name <input type="text" name="name" value="" />
	URL <input type="text" name="url" value="" />
<button type="submit" data-target="feedback-modal" class="waves-effect waves-light btn modal-trigger">Register</button>

</form>

{% endblock %}