{% extends "base.html" %}

{% block title %} Persea Technologies {% endblock %}

{% block headcss %}
  <style>
    .errorlist{
      color:#ff0000;
    }
  </style>
{% endblock %}


{% block content %}


<h3>Camera parameters</h3>
<img src="{{ camera.url }}" width="400">
<ul>
	<li>Camera ID: {{ camera.id }} </li>
	<li>Name: {{ camera.name }}</li>
	<li>URL: {{ camera.url }}</li>
	<li>Initialised: {{ camera.init_time }}</li>
	<li>Thread task ID: {{ camera.task_id }}</li>
	<li>Frame counter: {{ camera.frame_counter }}</li>	
</ul>
<h3>Downloaded Faces : {{paths|length}}</h3>
<ul>
<li>
{% for path in paths %}
   <img src={{path}}>
{% endfor %}
</li>
</ul>


{% endblock %}