{% extends "base.html" %}

{% block title %}Picha Tasks{% endblock %}

{% block headcss %}
  <style>
    .errorlist{
      color:#ff0000;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12">
      <h3>Tasks</h3>
      <ul>
      {% for task in tasks %}
          <li>{{ task }}</li>
      {% endfor %}
      <li>{{ another_tasks }}</li>
      <li>{{ all_tasks }}</li>
      </ul>
    </div>
  </div>
{% endblock %}